
/* Style for the canvas */
header{
    color: white;
    text-align: center;
    font-family: optima;
    font-size: 50px;
    margin-top: 40px;
}
canvas {
    display: block;
    margin: auto;
    border: none;
  }
  
  

  .input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  input {
  background-color: rgb(118, 15, 147);
  color: white;
  font-family: optima;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  border-radius: 40px;
  }
  

  button {
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px ;
    background-color: #2600ff;
    font-family: optima;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;  
  }
  

button[type="submit"] {

}

button[type="submit"]:hover {
  background-color: #d21eae; 
}

  